<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>My Cart</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="safe-area">
  <div class="cart-container">
    <!-- Display total price -->
    <div class="total-price">
      <h2>Total Price: ${{ totalPrice.toFixed(2) }}</h2>
    </div>

    <!-- List of items in cart -->
    <div class="cart-list">
      <div class="cart-item" *ngFor="let history of cartItems">
        <img [src]="history.image" alt="{{ history.name }}" class="cart-image" />
        <div class="cart-text">
          <h4>{{ history.name }}</h4>
         
          <p><strong>Price:</strong> ${{ history.price }}</p>
        </div>
        <ion-button fill="clear" color="danger" (click)="removeFromCart(history.id)">
          <ion-icon name="trash"></ion-icon>
        </ion-button>
      </div>
    </div>

        <!-- Checkout button with total price -->
        <ion-button 
        expand="full" 
        color="warning" 
        [routerLink]="['/stripe-payment', userId]">
        Checkout: ${{ totalPrice.toFixed(2) }}
      </ion-button>

      <ion-button 
        expand="full" 
        color="success"
        
      >
        💳 Pay Now with Stripe
      </ion-button>

      <ion-button 
        expand="full" 
        color="medium"
        
      >
        ❌ Cancel Payment
      </ion-button>

      <button
      [routerLink]="['/paypal-payment', userId]">
        <img src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/checkout-logo-large.png" 
             alt="Pay with PayPal" style="width: 200px; height: auto;">
      </button>


      <ion-card>
        <ion-card-header>
          <ion-card-title>Chose your Payment option</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>You are about to pay:</p>
          <h2><strong>${{ totalPrice.toFixed(2) }}</strong></h2>
    
        <!-- Checkout button with total price -->
        <ion-button 
        expand="full" 
        color="warning" 
        [routerLink]="['/stripe-payment', userId]">
        Checkout: ${{ totalPrice.toFixed(2) }}
      </ion-button>

      <ion-button 
      expand="full" 
      color="success"
      
    >
      💳 Pay Now with Stripe
    </ion-button>
    
          <ion-button 
            expand="full" 
            color="medium"
            
          >
            ❌ Cancel Payment
          </ion-button>
    
          <button
          
          [routerLink]="['/paypal-payment', userId]">
            <img src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/checkout-logo-large.png" 
                 alt="Pay with PayPal" style="width: 200px; height: auto;">
          </button>
          
        </ion-card-content>
      </ion-card>
  </div>
</ion-content>
