.custom-header {
    ion-toolbar {
      --background: white; //#fdf1dc !important; /* or #f5ecd9 */
      --color: white;
      min-height: 48px; // hauteur plus fine
    }
  
    .search-toolbar {
      display: flex;
      align-items: center;
      padding: 0 8px;
      min-height: 52px;
    }
  
    .custom-searchbar {
      flex: 1;
      --background: white;
      --border-radius: 25px;
      --height: 36px; // rétrécir la hauteur
      font-size: 14px;
      margin-right: 8px;
    }
  
    ion-icon {
      font-size: 20px; // icône plus petite
    }
  
    .menu-toolbar {
      ion-segment {
        background: transparent;
        --indicator-color: white;
        --color-checked: white;
        --color: #d7fbe8;
      }
  
      ion-label {
        font-size: 12px; // police plus petite
        font-weight: 500;
        text-transform: uppercase;
      }
  
      ion-segment-button {
        padding: 0 6px;
      }
    }
  }