

<ion-content fullscreen="true" class="safe-area">
  <!-- Search Bar -->
  <ion-searchbar animated="true" show-clear-button="focus" value="Show on Focus" (ionInput)="filterItems($event)" class="empty-cart"></ion-searchbar>

  <div class="history-list"  class="cart-container">
    <div class="history-item" *ngFor="let history of filteredHistories"  (click)="goToHistoryDetail(history.id)">
      <div class="history-card">
        <img class="history-image" [src]="history.image" alt="{{ history.name }}" />
        
        <div class="history-text">
          <h4><strong> {{ history.name }} </strong></h4>
          <p class="price">${{ history.price }}</p>
        </div>
      </div>
    </div>
  </div>
</ion-content>

