<app-header
  [showSearch]="false"
  [currentSegment]="'category'"
  (segmentChange)="onSegmentChanged($event)">
</app-header>

<!---->
<ion-content fullscreen="true" class="note">
  <!--
  <ion-list *ngFor="let category of categoriesWithHistories">
    <ion-item-divider color="light">
      <ion-label class="category-title">{{ category.name | titlecase }}</ion-label>
    </ion-item-divider>

    <ion-grid>
      <ion-row>
        <ion-col size="6" size-md="4" size-lg="3" *ngFor="let history of category.histories">
          <div class="product-card" (click)="goToHistoryDetail(history.id)">
            <div class="image-wrapper">
              <img [src]="history.image" alt="{{ history.name }}" />
              <ion-badge *ngIf="history.isHot" class="hot-badge" color="warning">HOT</ion-badge>
            </div>
            <div class="info">
              <div class="title">{{ history.name }}</div>
              <div class="price">€{{ history.price }}</div>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>

-->


  <hr>


  <ng-container *ngFor="let category of categoriesWithHistories">
    <h2 class="category-title">{{ category.name }}</h2>
  
    <ion-list [inset]="true">
      <ion-item *ngFor="let history of category.histories" class="history-item" button  (click)="goToHistoryDetail(history.id)">
        <ion-thumbnail slot="start">
          <img [src]="history.image" alt="History image" />
        </ion-thumbnail>
  
        <ion-label>
          <h3>{{ history.name }}</h3>
          <p>{{ history.description | slice:0:60 }}{{ history.description?.length > 80 ? '...' : '' }}</p>
          <strong>{{ history.price | number:'1.3-3' }} DT</strong>
        </ion-label>

        <!--
        <div class="metadata-end-wrapper" slot="end">
          <ion-note color="medium">{{ history.price | number:'1.3-3' }}</ion-note>
          <strong>{{ history.price | number:'1.3-3' }} DT</strong>
        </div>
        -->

  
        <ion-icon name="add-circle-outline" slot="end" color="success"></ion-icon>
      </ion-item>
    </ion-list>
  
    <ion-item-divider></ion-item-divider>
  </ng-container>
  
</ion-content>

