<ion-content class="login-container">
  
  <div class="login-box">
    <h2><strong>Toy & History Store</strong></h2>
    <p>Enter your email to receive password verify code.</p>

    <hr>
    <div class="illustration">
      <img src="/assets/images/vecteezy_a-young-girl-hugs-her-teddy-bear-tightly-with-a-and-joyful_56813565.png" 
           alt="Verification Illustration" />
    </div>

    <hr>

    <form (ngSubmit)="resendPasswordVerifyEmail()">
      
      <!-- Email Input -->
      <ion-item>
        <ion-icon name="mail-outline" class="input-icon"></ion-icon>
        <input class="custom-input" name="email" autocomplete="email" placeholder="Email ID" 
               [(ngModel)]="email" type="email" fill="solid" />
      </ion-item>


      <!-- Verify Button -->
      <ion-button expand="full" type="submit" [disabled]="loading" class="login-button">
        <ion-spinner *ngIf="loading"></ion-spinner>
        Send Code
      </ion-button>

    </form>

    <div class="signup-link">
      <p>Remember your password? <a href="login">Login</a></p>
    </div>
  </div>

</ion-content>
