<ion-header>
  <ion-toolbar>
    <ion-title>Toys Collection</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" class="safe-area">
  <!-- Search Bar -->
  <ion-searchbar (ionInput)="filterItems($event)"></ion-searchbar>

  <div class="history-list">
    <div class="history-item" *ngFor="let history of filteredHistories"  (click)="goToHistoryDetail(history.id)">
      <div class="history-card">
        <img class="history-image" [src]="history.image" alt="{{ history.name }}" />
        <div class="history-text">
          <h4><strong> {{ history.name }} </strong></h4>
          <p class="price">${{ history.price }}</p>
        </div>

        <!-- Show 🛒 icon ONLY if the item is NOT in the cart -->
        <ion-button *ngIf="!cartItems.has(history.id)" fill="clear" (click)="addToCart(history.id)">
          shop
          <ion-icon name="cart"></ion-icon>
        </ion-button>
      </div>
    </div>
  </div>
</ion-content>
