<ion-content class="login-container">
  
  <div class="login-box">
    <h2><strong>Toy & History Store</strong></h2>
    <p>Just one step away to our products.</p>

    <hr>
    <div class="illustration">
      <img src="/assets/images/vecteezy_a-young-girl-holding-a-teddy-bear_56827077.PNG" alt="Toy Store Illustration" />
    </div>

    <hr>

    <form [formGroup]="registerForm" (ngSubmit)="registerUser()">
      <ion-item>
        <ion-input id="firstName" placeholder="First Name" formControlName="firstName" type="text"></ion-input>
      </ion-item>
    
      <ion-item>
        <ion-input id="lastName" placeholder="Last Name" formControlName="lastName" type="text"></ion-input>
      </ion-item>
    
      <ion-item>
        <ion-input id="email" placeholder="Email" formControlName="email" type="email"></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-input id="password" placeholder="Password" formControlName="password" type="password"></ion-input>
        <ion-icon name="eye-outline"></ion-icon>
      </ion-item>
    
      <ion-button expand="full" type="submit" [disabled]="!registerForm.valid" class="login-button">Register</ion-button>
    </form>
    
    
    <div class="signup-link">
      <p>Don't have an account? <a href="#">Sign up</a></p>
    </div>
  </div>
</ion-content>